<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="마스외전">
	<meta name="keywords" content="마스외전프로필">
    <meta name="description" content="마스외전프로필">
    <title>MarsProfile &copy; 마스외전</title>
    <link rel="stylesheet" href="../resource/css/common.css">
    <link rel="stylesheet" href="../guide/css/guide.css">
    <link rel="stylesheet" href="../resource/css/componets.css">
    <style>
        .tabs li:nth-child(1) a{background-color: #3636dc;color: #fff;font-weight: bold;}
        .data-table td{vertical-align: top !important;}
        .data-table tr:nth-child(5) td {background-color: #eee;}
    </style>
</head>
<body>
    <!-- WRAP -->
    <div id="wrap">
    <!-- HEADER -->
    <header id="header">
        <div class="header-wrap">
            <h1><a href="../resource/index.html">MarsProfile </a><span>퍼블리싱 가이드</span></h1>
        </div>
    </header>
    <!-- // HEADER -->
    <!-- CONTENT -->
    <div id="container">
        <!-- section -->
        <section class="section">
            <h2 class="section-title">퍼블리싱 가이드</h2>
    
            <div class="tab-wrap">
                <!-- TAB -->
                <script type="text/javascript" src="./js/tab.js"></script>
                <!-- // TAB -->
    
                <!-- BUTTON -->
                <div class="view-code">
                    <h3>BUTTON NORMAL</h3>
                    <!-- table-wrap -->
                    <div class="table-wrap">
                        <table class="data-table">
                            <caption></caption>
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>x-small(height: 34px;)</th>
                                    <th>small(height: 40px;)</th>
                                    <th>medium(height: 45px;)</th>
                                    <th>large(height: 50px;)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>type01</th>
                                    <td>
                                        <button type="button" class="btn type01 x-small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 x-small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 x-small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 medium normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 medium normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 medium normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 large normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 large normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 large normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type02</th>
                                    <td>
                                        <button type="button" class="btn type02 x-small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 x-small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 x-small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 medium normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 medium normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 medium normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 large normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 large normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 large normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type03</th>
                                    <td>
                                        <button type="button" class="btn type03 x-small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 x-small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 x-small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 medium normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 medium normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 medium normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 large normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 large normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 large normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type04</th>
                                    <td>
                                        <button type="button" class="btn type04 x-small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 x-small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 x-small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 medium normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 medium normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 medium normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 large normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 large normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 large normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type05</th>
                                    <td>
                                        <button type="button" class="btn type05 x-small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 x-small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 x-small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 small normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 small normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 small normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 medium normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 medium normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 medium normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 large normal">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 large normal"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 large normal"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table-wrap -->
                    <h3>BUTTON ROUND</h3>
                    <!-- table-wrap -->
                    <div class="table-wrap">
                        <table class="data-table">
                            <caption></caption>
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>x-small(height: 34px;)</th>
                                    <th>small(height: 40px;)</th>
                                    <th>medium(height: 45px;)</th>
                                    <th>large(height: 50px;)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>type01</th>
                                    <td>
                                        <button type="button" class="btn type01 x-small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 x-small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 x-small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 medium round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 medium round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 medium round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type01 large round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type01 large round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type01 large round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type02</th>
                                    <td>
                                        <button type="button" class="btn type02 x-small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 x-small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 x-small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 medium round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 medium round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 medium round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type02 large round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type02 large round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type02 large round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type03</th>
                                    <td>
                                        <button type="button" class="btn type03 x-small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 x-small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 x-small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 medium round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 medium round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 medium round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type03 large round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type03 large round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type03 large round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type04</th>
                                    <td>
                                        <button type="button" class="btn type04 x-small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 x-small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 x-small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 medium round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 medium round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 medium round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type04 large round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type04 large round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type04 large round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>type05</th>
                                    <td>
                                        <button type="button" class="btn type05 x-small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 x-small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 x-small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 small round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 small round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 small round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 medium round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 medium round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 medium round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn type05 large round">버튼</button>
                                        <div class="btn-button">
                                            &lt;button type="button" class="btn type05 large round"&gt;버튼&lt;/button&gt;
                                        </div>
                                        <div class="btn-a">
                                            &lt;a href="" class="btn type05 large round"&gt;버튼&lt;/a&gt;
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table-wrap -->
    
                    <h3>BUTTON ETC</h3>
                    <!-- table-wrap -->
                    <div class="table-wrap">
                        <table class="data-table">
                            <caption></caption>
                            <colgroup>
                                <col style="width: 0%">
                                <col style="width: 50%">
                                <col style="width: 50%">
                                <!-- <col style="width: 0%"> -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>ADD / CONFiRM</th>
                                    <th>LIKE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>ETC</th>
                                    <td>
                                        <span style="vertical-align: top;">리뷰 추가: </span> <button type="button" class="btn-add"></button>
                                        <br>
                                        <span style="vertical-align: top;">리뷰 확인: </span> <button type="button" class="btn-add active"></button>
                                    </td>
                                    <td>
                                        <span style="vertical-align: top;">클릭 전: </span> <button type="button" class="btn-wish"></button>
                                        <br>
                                        <span style="vertical-align: top;">클릭 후: </span> <button type="button" class="btn-wish active"></button>
                                        <br><br>
                                        <span style="vertical-align: top;">클릭 전: </span> <button type="button" class="btn-like"></button>
                                        <br>
                                        <span style="vertical-align: top;">클릭 후: </span> <button type="button" class="btn-like active"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table-wrap -->
                </div>
                <!-- // BUTTON -->
            </div>
        </section>
        <!-- //section -->
    </div>
    <!-- // CONTENT -->
    <!-- FOOTER -->
    <footer id="footer">
        <div class="footer-wrap">
            <p class="copyright">&copy;<a href="#" title="마스외전" target="_blank">마스외전</a></p>
        </div>
    </footer>
    <!-- // FOOTER -->
    </div>
    <!-- // WRAP -->
    <script>
    </script>
</body>
</html>