<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="마스외전">
	<meta name="keywords" content="마스외전프로필">
    <meta name="description" content="마스외전프로필">
    <title>MarsProfile</title>
    <link rel="stylesheet" href="../resource/css/common.css">
    <link rel="stylesheet" href="../guide/css/guide.css">
    <link rel="stylesheet" href="../resource/css/componets.css">
    <style>
        .tabs li:nth-child(6) a{background-color: #3636dc;color: #fff;font-weight: bold;}
    </style>
</head>
<body>
    <div class="skip-navi">
        <a href="#content">본문 바로가기</a>
    </div>
    
    <!-- WRAP -->
    <div id="wrap">
    <!-- HEADER -->
    <header id="header">
        <div class="header-wrap">
            <h1><a href="../resource/index.html">MarsProfile </a><span>퍼블리싱 가이드</span></h1>
        </div>
    </header>
    <!-- // HEADER -->
    <!-- CONTENT -->
    <div id="container">
        <!-- section -->
        <section class="section">
            <h2 class="section-title">퍼블리싱 가이드</h2>
    
            <div class="tab-wrap">
                <!-- TAB -->
                <script type="text/javascript" src="js/tab.js"></script>
                <!-- // TAB -->
    
                <!-- TEXT -->
                <div class="view-code">
                    <div>
                        <h3>들여쓰기/빈줄</h3>
                        <div>
                            <p>들여쓰기 : 1탭 들여쓰기 하며, 1탭의 크기는 공백 4칸으로 설정한다.</p>
                            <p>빈줄 : 가독성을 고려하여 빈 줄을 추가 가능, 단 연속적으로 1줄을 초과하지 않는다.</p>
                        </div>
                    </div>
                    <div>
                        <h3>단위</h3>
                        <div>
                            <p class="caption">font 단위는 ‘em’ 사용으로 원칙한다.</p>
                            <pre class="code">
    body {font-size:16px;} /* 16px 기준 */
    div {font-size:1em;} /* body에서 상속된 기준값으로 div의 1em은 16px */
    div.section {font-size:0.75em;} /* body에서 상속된 기준값으로 div의 0.75em은 12px */
    div.section p {font-size:1em;} /* 상위 엘리먼트인 div.section의 기준값을 상속받아 div.section 내의 p의 1em은 12px */
                            </pre>
                        </div>
                    </div>
                    <div>
                        <h3>LABEL 태그사용</h3>
                        <div>
                            <p class="caption">그림을 예시로 title과 input태그는 &lt;label> 태그를 이용하는 것을 원칙한다.</p>
                            <div>
                                <img src="../guide/images/guide_label.png" alt="">
                            </div>
                            <pre class="code">
    &lt;label for="idName">닉네임</label>
    &lt;input type="text" id="idName">
                            
    &lt;label for="passwordNum">비밀번호</label>
    &lt;input type="password" id="passwordNum">
                            </pre>
                        </div>
                    </div>
                    <div>
                        <h3>html 주석</h3>
                        <div>
                            <p class="caption">영역주석</p>
                            <pre class="code">
    &lt;!-- 영역명 -->
    &lt;div>
        &lt;p>시작과 끝이 있고, 마크업의 영역을 표시&lt;/p&gt;
    &lt;/div>
    &lt;!-- //영역명 -->
                            </pre>

                            <p class="caption">설명주석</p>
                            <pre class="code">
    &lt;!-- 설명내용 -->
    &lt;div>내용을 주석으로 표기&lt;/div>
                            </pre>

                            <p class="caption">기록주석 (기존 소스 수정/삭제시 원본 코드는 주석으로 처리)</p>
                            <pre class="code">
    &lt;!-- 2022.05.23(수정/삭제일자) | 홍길동(수정/삭제자) | 기획 변경으로 태그 변경(수정/삭제사유) -->
    &lt;div>내용을 주석으로 표기&lt;/div>
                            </pre>
                        </div>
                    </div>
                    <div>
                        <h3>HTML 태그 속성선언순서</h3>
                        <div>
                            <pre class="code">
    &lt;a href="#" title="" target="" class="">이동하기&lt;/a>
    &lt;iframe src="" title="">&lt;/iframe>
    &lt;img src="img.png" alt="대체텍스트">
    &lt;input type="text" name="" id="" value="" title="" class="" disabled=""> 
                            </pre>
                            <div>
                                <img src="../guide/images/guide_html_property_order.png" alt="" class="img-table01">
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>CSS 들여쓰기/줄 바꿈</h3>
                        <div>
                            <p>CSS 작성시 들여쓰기는 허용하지 않는다.</p>
                            <p>공통으로 사용되는 속성의 선택자간의 줄 바꿈은 허용하며 이 외의 줄바꿈은 허용하지 않는다.</p>
                            <pre class="code">
    .class-name,
    .class-name .child-class {font-size:1.25em; letter-spacing:-1px; margin:0.5em 0 0 0;}
                                
    .parents-class .child-class {text-align:center;}                            
                            </pre>
                        </div>
                    </div>
                    <div>
                        <h3>CSS 공백의 사용과 세미콜론(;)</h3>
                        <div>
                            <p>선택자 간, 중괄호간 한칸의 공백을 사용, 중괄호 안쪽 좌우에는 공백은 사용 X</p>
                            <p>마지막 선언된 속성에도 세미콜론(;) 을 사용</p>
                        <pre class="code">
    .class-name {color:#eee; font-size:1.2em;}

    /*잘못된 예시*/
    .class-name {   color:#eee;font-size:1.2em;  }
                        </pre>
                        </div>
                    </div>
                    <div>
                        <h3>CSS 주석</h3>
                        <div>
                            <p class="caption">CSS는 종료 주석은 작성하지 않는다.</p>
                            <pre class="code">
    /* btn {color:#ddd; backgroud:#fff;}
    2022.05.23(수정/삭제일자) | 홍길동(수정/삭제자) | 디자인 변경으로 색상값 변경(수정/삭제사유) */
    .btn {color:#444; backgroud:#fff;}
                            
    /* btn-type */
    .btn-type1 {padding:20px 10px;}
                            </pre>
                        </div>
                    </div>
                    <div>
                        <h3>CSS 태그 속성선언순서</h3>
                        <div>
                            <pre class="code">
    .class-name {
        display:; visibility:; position:; top:; float:; overflow:;
        width:; height:; margin:; padding:; 
        border:; background:#color url() 0 0 repeat;
        font-family:; font-size:; font-weight:; 
        font-style:; line-height:; color:; text-align:;
    }
                            </pre>
                            <div>
                                <img src="../guide/images/guide_css_property_order.jpg" alt="" class="img-table01">
                            </div>
                        </div>
                    </div>
    
                    

                </div>
                <!-- // TEXT -->
            </div>
        </section>
        <!-- //section -->
    </div>
    <!-- // CONTENT -->
    <!-- FOOTER -->
    <footer id="footer">
        <div class="footer-wrap">
            <p class="copyright">&copy;<a href="#" title="마스외전" target="_blank">마스외전</a></p>
        </div>
    </footer>
    <!-- // FOOTER -->
    </div>
    <!-- // WRAP -->
    <script>
    </script>
</body>
</html>