<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="마스외전">
	<meta name="keywords" content="마스외전프로필">
    <meta name="description" content="마스외전프로필">
    <title>MarsProfile</title>
    <link rel="stylesheet" href="../resource/css/common.css">
    <link rel="stylesheet" href="../guide/css/guide.css">
    <link rel="stylesheet" href="../resource/css/componets.css">
    <style>
        .tabs li:nth-child(2) a{background-color: #3636dc;color: #fff;font-weight: bold;}
        .input-text{width: 254px;}
	    .input-search{width: 228px;}
	    .select-wrap select{width: 258px;}
    </style>
</head>
<body>
    <!-- WRAP -->
    <div id="wrap">
        <!-- HEADER -->
        <header id="header">
            <div class="header-wrap">
                <h1><a href="../resource/index.html">MarsProfile </a><span>퍼블리싱 가이드</span></h1>
            </div>
        </header>
        <!-- // HEADER -->
        <!-- CONTENT -->
        <div id="container">
            <!-- section -->
            <section class="section">
                <h2 class="section-title">퍼블리싱 가이드</h2>

                <div class="tab-wrap">
                    <!-- TAB -->
                    <script type="text/javascript" src="js/tab.js"></script>
                    <!-- // TAB -->

                    <!-- INPUT -->
                    <div class="view-code">
                        <h3>INPUT TEXT</h3>
                        <div class="input-text"><input type="text"></div>
                        <pre class="code">&lt;div class="input-text"&gt;&lt;input type="text"&gt;&lt;/div&gt;</pre>

                        <h3>TEXTAREA</h3>
                        <div class="text-area">
                            <textarea name="" placeholder="문의하실 내용을 입력해주세요."></textarea>
                        </div>
                        <pre class="code">
    &lt;div class="text-area"&gt;
        &lt;textarea name="" placeholder="문의하실 내용을 입력해주세요."&gt;&lt;/textarea&gt;
    &lt;/div&gt;
                        </pre>
                    </div>
                    <!-- // INPUT -->

                </div>
            </section>
            <!-- //section -->
        </div>
        <!-- // CONTENT -->
        <!-- FOOTER -->
    <footer id="footer">
        <div class="footer-wrap">
            <p class="copyright">&copy;<a href="#" title="마스외전" target="_blank">마스외전</a></p>
        </div>
    </footer>
    <!-- // FOOTER -->
    </div>
    <!-- // WRAP -->
    <script>
    </script>
</body>
</html>