<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="마스외전">
	<meta name="keywords" content="마스외전프로필">
    <meta name="description" content="마스외전프로필">
    <title>MarsProfile</title>
    <link rel="stylesheet" href="../resource/css/common.css">
    <link rel="stylesheet" href="../guide/css/guide.css">
    <link rel="stylesheet" href="../resource/css/componets.css">
    <style>
        .tabs li:nth-child(4) a{background-color: #3636dc;color: #fff;font-weight: bold;}
    </style>
</head>
<body>    
    <!-- WRAP -->
    <div id="wrap">
    <!-- HEADER -->
    <header id="header">
        <div class="header-wrap">
            <h1><a href="../resource/index.html">MarsProfile </a><span>퍼블리싱 가이드</span></h1>
        </div>
    </header>
    <!-- // HEADER -->
    <!-- CONTENT -->
    <div id="container">
        <!-- section -->
        <section class="section">
            <h2 class="section-title">퍼블리싱 가이드</h2>
    
            <div class="tab-wrap">
                <!-- TAB -->
                <script type="text/javascript" src="js/tab.js"></script>
                <!-- // TAB -->
                <div>
                    <h3>기본문서</h3>
                    <div>
                        <pre class="code">
    &lt;!DOCTYPE html>
    &lt;html lang="ko">
    &lt;head>
        &lt;meta charset="UTF-8">
        &lt;meta http-equiv="X-UA-Compatible" content="IE=edge">
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
        &lt;meta name="author" content="마스외전">
        &lt;meta name="keywords" content="마스외전프로필">
        &lt;meta name="description" content="마스외전프로필">
        &lt;link rel="stylesheet" href="../resource/css/common.css">
        &lt;link rel="stylesheet" href="../resource/css/componets.css">
        &lt;link rel="stylesheet" href="../resource/css/animate.css">
        &lt;link rel="stylesheet" href="../resource/css/main.css">
        &lt;title>MarsProfile</title>
    &lt;/head>
    &lt;body>
    &lt;/body>
    &lt;/html>
                        </pre>
                    </div>
                </div>
                <div>
                    <h3>특수기호</h3>
                    <div>
                        <a href="https://www.w3schools.com/html/html_entities.asp" target="_blank">특수기호 사이트 바로가기</a>
                    </div>
                </div>
                <div>
                    <h3>태그정의</h3>
                    <div>
                        <img src="../guide/images/guide_tag_definition.jpg" alt="" class="img-table01">
                    </div>
                </div>
            </div>
        </section>
        <!-- //section -->
    </div>
    <!-- // CONTENT -->
    <!-- FOOTER -->
    <footer id="footer">
        <div class="footer-wrap">
            <p class="copyright">&copy;<a href="#" title="마스외전" target="_blank">마스외전</a></p>
        </div>
    </footer>
    <!-- // FOOTER -->
    </div>
    <!-- // WRAP -->
    <script>
    </script>
</body>
</html>