/* reset.css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;box-sizing:border-box;}
/* 2022.06.11|고희주|html|루트에 높이 추가{overflow-x:hidden;} */
html{overflow-x:hidden; height: 100%;}
body,th,td,input,select,textarea,button{font-size: 14px; line-height:1.5;font-family: 'Noto Sans KR', sans-serif; color:#444444;}
fieldset,img{border:0 none;}
dl,ul,ol,menu,li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
input,select,textarea,button{font-size:100%;vertical-align:middle;appearance: none;-moz-appearance: none;-webkit-appearance: none;border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;}
button{border:0 none;background-color:transparent;cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;}
body{overflow-x:hidden;height:100%;background:#ffffff;color:#444444;-webkit-text-size-adjust:none;}
a{color:inherit;text-decoration:none;}
a:active, a:hover{text-decoration:none;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:none;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
input[type='checkbox']{-webkit-appearance:checkbox;}
input[type='radio']{-webkit-appearance:radio;}
input[type='number']{-webkit-appearance:none;}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none;}

/* clear */
.both {clear: both;}

/**/
html {
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  /* popup */
  .popup-wapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80.55555555556%;
    margin: 0 auto;
    background: #fff;
  }
  
  /* 팝업 공통 */
  .popup-content .popup-header {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .popup-btn-close {
    display: inline;
    position: absolute;
    right: 18px;
    width: 15px;
    height: 15px;
    background: url("../images/btn_popup_x.png") no-repeat;
    background-size: cover;
  }
  
  /* 팝업 미디어쿼리 */
  @media only screen and (min-width: 540px) {
    .popup-content {
      width: 65%;
    }
  }
  
  @media only screen and (min-width: 730px) {
    .popup-content {
      width: 50%;
    }
  
    .popup-content .popup-header {
      padding: 8.5px 25px;
      font-size: 1.8em;
    }
  
    .popup-content .popup-body hr {
      border-width: 2.3px 0 0 0;
    }
  
    .popup-content .popup-header .group-btn-close {
      width: 20px;
      height: 20px;
      right: 25px;
    }
  }